.LS_container {
  background: #f0f0f0;
  border-radius: 4px;
  width: clamp(10rem, 95vw, 15rem);
  height: 65vh;
  display: flex;
  background: linear-gradient(#cac0e6, #9497e0);
}

.LS_container_select {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.LS_label {
  color: beige;
  text-transform: uppercase;
  font-size: small;
  font-weight: bold;
}

.LS_selectButton {
  color: #3b3c49;
  background-color: #fafafc;
  box-shadow: 0 0 5px grey;
  width: 80%;
  height: 10%;
  border-radius: 7px;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -8%;
  padding-inline: 10%;
  flex-wrap: wrap;
  position: relative;
}

.LS_chevronDown {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

.LS_done {
  color: #fff;
  background-color: #a1a3e1;
  border-radius: 20px;
  padding: 3% 8%;
  box-shadow: 0 0 10px #797bbb;
  font-weight: bold;
  text-transform: uppercase;
  margin: -5% 0;
  cursor: pointer;
}

.li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.h4 {
  margin-top: 0px;
  position: sticky;
  top: 0;
  color: rgb(200, 200, 200);
  width: 100%;
  background-color: rgb(100, 100, 100);
  text-align: center;
}

.select {
  margin-bottom: 15px;
  transition: all 0.2s;
  text-align: center;
}

.select:hover {
  color: rgb(200, 200, 200);
  cursor: pointer;
  background-color: rgb(10, 10, 10);
  width: 100%;
}

@media (max-aspect-ratio: 2/3) {
  .LS_container {
    height: 35vh;
  }

  .container {
    width: 80vw;
  }

  .h2 {
    font-size: 5vw;
  }

  .select {
    margin-bottom: 15px;
  }
}
