.container {
  max-height: 100vh;
  width: 100%;
  overflow: hidden;
  scroll-snap-type: y mandatory;
}

.container::-webkit-scrollbar {
  display: none;
}

.main {
  min-height: calc(90 * var(--vh));
  width: 100vw;
  scroll-snap-align: end;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 0;
  padding-block: 3vh;
  flex-direction: column;
  position: relative;
}

.see_all {
  position: absolute;
  background: rgb(0, 0, 0);
  box-shadow: 0 0 50px rgba(255, 255, 255, 0);
  height: 7vh;
  width: fit-content;
  border-radius: 20px;
  top: 48.5%;
  left: 50%;
  transform: translate(-50%, -70%);
  transition: all 0.1s ease-in;
  display: none;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  padding-inline: 15px;
}

.see_all:hover {
  cursor: pointer;
  background-color: rgb(57, 255, 20);
  box-shadow: 0 0 50px rgb(57, 255, 20);
}

.see_more {
  color: #f0f0f0;
  transition: all 0.3s ease;
  width: 0;
  overflow: hidden;
  text-overflow: hidden;
  white-space: nowrap;
}

.see_all:hover > .see_more {
  width: 8ch;
}

.search_container {
  max-width: 90vw;
  height: 45px;
  background-color: #ffffff;
  border-radius: 50px;
  box-shadow: 0 0 40px -15px rgba(128, 128, 128, 0.719);
  transition: box-shadow 0.2s ease-out;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-inline: 15px;
  z-index: 1;
  position: relative;
}

.search_container:hover {
  box-shadow: 0 0 40px 0px rgba(128, 128, 128, 0.719);
}

.search_input {
  outline: none;
  border: none;
  width: 30vw;
  padding: 0;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
  pointer-events: all;
}

.search_input:focus {
  width: 60vw;
}

.search_suggestion {
  position: absolute;
  background-color: #ffffff;
  align-self: center;
  top: 120%;
  z-index: 2;
  box-shadow: 0 5px 20px rgba(36, 36, 36, 0.718);
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  border-radius: 5px;
  max-height: 60vh;
  overflow: auto;
}

.suggestion {
  width: 100%;
  list-style: none;
  padding: 3% 5%;
}

.buttons_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5%;
}

.top_card_container {
  display: flex;
  column-gap: 5vw;
}

.card {
  flex: 1;
  height: 30vh;
  width: 25vw;
  max-width: 15rem;
  background-color: #f0f0f0;
  box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.4s ease;
  animation: loading 1s ease-out 0.5s infinite;
  display: flex;
  overflow: hidden;
  position: relative;
}

.card::-webkit-scrollbar {
  display: none;
}

@keyframes loading {
  0%,
  100% {
    background: rgba(118, 118, 118);
  }
  50% {
    background: rgba(188, 188, 188);
  }
}

.cardImage {
  position: relative;
  flex: 1;
  overflow: hidden;
}

.cardImage > * {
  user-select: none;
  transform: scale(1.05);
  transition: all 0.5s ease;
}

.card:hover > .cardImage > * {
  transform: scale(1.2);
}

.card_content {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.123);
  display: flex;
}

.bottom_container {
  z-index: 1;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom right, #ffe1d6, #f0f0f0);
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list_container {
}

.details_container {
}

.main_bottom_container {
}

@media (max-aspect-ratio: 2/3) and (max-width: 768px) {
  .search_input {
    width: 90vw;
  }
  .search_suggestion {
    max-height: 50vh;
  }
  .suggestion {
    font-size: 0.8rem;
  }
  .card {
    height: 32vh;
    width: 53vw;
  }
  .card_loading {
    height: 32vh;
    width: 53vw;
  }
  .top_card_container {
    gap: 8vw;
  }
  .card:hover > .cardImage > * {
    transform: scale(1.05);
  }
  .card:focus > .cardImage > * {
    transform: scale(1.2);
  }
}
