.container {
  max-height: 100vh;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
}

.container::-webkit-scrollbar {
  display: none;
}

.main {
  min-height: calc(90 * var(--vh));
  width: 100vw;
  scroll-snap-align: end;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0;
  flex-direction: column;
  position: relative;
}

.search_container {
  max-width: 90vw;
  height: 45px;
  background-color: #ffffff;
  border-radius: 50px;
  box-shadow: 0 0 40px -15px rgba(128, 128, 128, 0.719);
  transition: box-shadow 0.2s ease-out;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-inline: 15px;
  z-index: 1;
  position: relative;
}

.search_container:hover {
  box-shadow: 0 0 40px 0px rgba(128, 128, 128, 0.719);
}

.search_input {
  outline: none;
  border: none;
  width: 30vw;
  padding: 0;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  pointer-events: all;
}

.search_input:focus {
  width: 40vw;
}

.search_suggestion {
  position: absolute;
  background-color: #ffffff;
  align-self: center;
  top: 120%;
  z-index: 2;
  box-shadow: 0 5px 20px rgba(36, 36, 36, 0.718);
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  border-radius: 5px;
  max-height: 60vh;
  overflow: auto;
}

.suggestion {
  width: 100%;
  list-style: none;
  padding: 3% 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.result_type {
  text-transform: uppercase;
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
  padding-inline: 5px;
  font-size: 0.8em;
  margin-right: 2ch;
}

.buttons_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5%;
}

.top_card_container {
  display: flex;
  column-gap: 5vw;
  height: auto;
}

.loading_places {
  position: relative;
  height: 100px;
  width: 100px;
  animation: loading-gear 1s linear infinite forwards;
}

@keyframes loading-gear {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.card {
  aspect-ratio: 3 / 2;
  flex-grow: 1;
  width: clamp(10rem, 35vw, 15rem);
  background-color: #f0f0f0;
  box-shadow: 0 0 10px rgba(84, 84, 84, 0.457);
  transition: box-shadow 0.4s ease;
  animation: loading 1s ease-out 0.5s infinite;
  display: flex;
  overflow: hidden;
  position: relative;
}

.card::-webkit-scrollbar {
  display: none;
}

@keyframes loading {
  0%,
  100% {
    background: rgba(118, 118, 118);
  }
  50% {
    background: rgba(188, 188, 188);
  }
}

.cardImage {
  position: relative;
  flex: 1;
  overflow: hidden;
}

.cardImage > * {
  user-select: none;
  transform: scale(1.05);
  transition: all 0.5s ease;
}

.card:hover > .cardImage > * {
  transform: scale(1.2);
}

.card_content {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.123);
  display: flex;
  transition: all 0.5s ease;
  align-items: flex-end;
  padding: 5%;
}

.card:hover > .card_content {
  background-color: rgba(0, 0, 0, 0.523);
}

.card_title {
  color: white;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  transition: all 0.5s ease;
  transform: translateY(2.5em);
}

.card:hover > .card_content > .card_title,
.card:focus > .card_content > .card_title {
  transform: translateY(0em);
}

.card_explore {
  display: flex;
  align-items: center;
  padding-inline: 7px;
  padding-block: 5px;
  border-radius: 20px;
  margin-top: 10px;
  margin-right: 10px;
}

.card_explore:hover {
  cursor: pointer;
}

.bottom_container {
  z-index: 1;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom right, #ffe1d6, #f0f0f0);
  scroll-snap-align: start;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_bottom_container {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row-reverse;
}

.list_container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  padding: 2vw;
  gap: 3vw;
  overflow-y: auto;
  overflow-x: hidden;
}

.details_container::-webkit-scrollbar,
.list_container::-webkit-scrollbar {
  display: none;
}

.details_container {
  flex: 1;
  padding: 1%;
  margin: 10px;
  border-radius: 5px;
  position: relative;
  background-color: white;
  box-shadow: 0 0 0 5px #fff, inset 0 0 5px #cdcdcd;
  overflow: auto;
}

.place_image {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  height: 50vh;
  width: 100%;
}

.details_image_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.6));
}

.place_name {
  position: absolute;
  color: #fff;
  font-size: x-large;
  font-weight: bold;
  font-family: 'Carter One', 'Trebuchet MS', 'Lucida Sans Unicode',
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  bottom: 3%;
  left: 5%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 95%;
}

.details_categories {
  max-width: 100%;
  display: flex;
  gap: 1vw;
  text-transform: capitalize;
  white-space: nowrap;
  flex-wrap: wrap;
  margin-top: 1vw;
}

.place_details {
  height: 100px;
  width: 100%;
  margin-top: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .search_input,
  .search_input:focus {
    width: 60vw;
  }
  .search_suggestion {
    max-height: 50vh;
  }
  .suggestion {
    font-size: 0.8rem;
  }
  .card {
    height: 32vh;
    width: clamp(5rem, 45vw, 15rem);
  }
  .card_loading {
    height: 32vh;
    width: 53vw;
  }
  .top_card_container {
    gap: 8vw;
  }
  .card:hover > .cardImage > * {
    transform: scale(1.05);
  }
  .card:focus > .cardImage > * {
    transform: scale(1.2);
  }
  .main_bottom_container {
    flex-direction: column-reverse;
    overflow-y: auto;
  }
  .list_container {
    margin: 1.5vw;
    padding: 1.5vw;
    gap: 3vw;
    column-gap: 3vw;
    overflow-y: visible;
  }
  .place_image {
    height: 20vh;
  }
  .details_container {
    padding: 1vh;
  }
}
