.container {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1.5px solid rgba(231, 231, 242, 0.2);
  padding-top: 20px;
  padding-bottom: 15px;
  margin-inline: 10%;
  padding-inline: 5px;
}

.title {
  position: absolute;
  cursor: pointer;
  font-family: "Carter One", cursive;
  font-size: 17px;
  color: white;
  letter-spacing: 1.5px;
  left: 47%;
  right: 47%;
}

.links {
  display: flex;
  justify-content: center;
}

.link {
  font-family: "Noto Sans", sans-serif;
  font-size: 13px;
  margin-right: 6vw;
  color: white;
  padding-bottom: 5px;
  border-bottom: 0px solid white;
}

.link:hover,
.link:active {
  border-bottom: 2px solid white;
  padding-bottom: 3px;
}

@media (max-width: 750px) {
  /* For Mobile Devices */

  .title {
    top: 8px;
    left: 12vw;
  }

  .link {
    display: none;
  }
}
