.main {
  height: 90vh;
  width: 100vw;
}

.home_container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.background {
  position: absolute;
  z-index: -2;
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: #2f2f2f;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='124' height='124' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23292929' fill-opacity='0.32'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.32'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
}

.background_cover {
  position: absolute;
  display: flex;
  z-index: -1;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(19, 19, 23, 0.755) -8.21%,
    rgba(19, 19, 23, 0.357) 100%
  );
}

.titleText {
  position: absolute;
  top: 25vh;
  left: 10vw;
  width: 40vw;
}

.mainText {
  color: white;
  font-family: 'Carter One', sans-serif;
  font-size: 3.9em;
  line-height: 130%;
}

.placeName {
  transition: all 0.1s ease-out;
  text-transform: uppercase;
  line-height: 50px;
  color: rgb(233, 255, 155);
}

.placeName:hover,
.placeName:focus {
  cursor: pointer;
  font-size: 4.1rem;
  color: rgb(216, 255, 124);
}

.subTitle {
  color: white;
  margin-top: 10px;
  margin-left: 10px;
  width: 82%;
}

.locOptions {
  position: absolute;
  bottom: 0;
  left: 10vw;
  width: 80vw;
  height: 18vh;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(70px);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  padding-block: 20px;
  padding-inline: 40px;
  color: white;
  font-size: 0.8em;
}

.optionsTitle {
  font-weight: bold;
}

.optionsMain {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 95%;
  padding-block: 1%;
}

.submit {
  background-color: rgb(77, 201, 102);
  color: white;
  width: 12%;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-left: 20px;
  font-weight: bold;
  font-size: medium;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.submit:hover {
  background-color: rgb(255, 255, 255);
  color: grey;
}

.menus {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid rgba(231, 231, 242, 0.3);
}

.menu {
  display: flex;
  flex-direction: row;
  padding-block: 5px;
  padding-inline: 10px;
  align-items: center;
  cursor: pointer;
  transition: all 0.1s ease;
}

.menu:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.menu:active {
  background-color: rgba(255, 255, 255, 0.3);
}

.label {
  color: rgba(231, 231, 242, 0.5);
  font-size: 0.7em;
}

.selection {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media (max-width: 750px) {
  /* For Mobile Devices */
  .titleText {
    top: 15vh;
    align-self: center;
    width: 80vw;
    text-align: center;
  }

  .mainText {
    color: white;
    font-family: 'Carter One', sans-serif;
    font-size: 14vw;
    line-height: 130%;
  }

  .placeName {
    transition: all 0.2s ease-out;
    color: rgb(255, 211, 155);
  }

  .placeName:active,
  .placeName:hover {
    font-size: 14vw;
    color: rgb(216, 255, 124);
  }

  .subTitle {
    display: none;
  }

  .mobLocOptions {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 10vh;
    color: aliceblue;
    background-color: rgba(19, 19, 23, 0.693);
    backdrop-filter: blur(40px);
    font-size: larger;
  }

  .modalContainer {
    display: none;
    background-color: #ffffff29;
    backdrop-filter: blur(20px);
    border-radius: 10px;
  }
}
