.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  /* background: center url("../images/background.png"),
    linear-gradient(#77898e, #9a9d91, #1b2528); */
  background: linear-gradient(
    180deg,
    #131317 -60.19%,
    rgba(65, 66, 99, 0.09) 100%
  );
}

.background {
  z-index: -1;
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.header {
  width: 100%;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

@media (max-width: 750px) {
  /* For Mobile Devices */
  .header {
    padding-inline: 2%;
  }
}
