.main {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  background: no-repeat center/cover;
}

.backdrop {
  flex: 1;
  display: flex;
  background-color: rgba(15, 15, 15, 0.38);
  justify-content: center;
  align-items: center;
}

.boxContainer {
  width: 22rem;
  height: 75vh;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: #171716;
  box-shadow: 0 0 2px rgba(23, 23, 22, 0.838);
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 10vh 3rem;
}

.signup_container {
  height: 80vh;
  padding: 5vh 3rem;
}

.logo {
  font-family: 'Carter One', sans-serif;
  color: white;
  font-size: x-large;
  position: relative;
}

.logo:hover {
  cursor: pointer;
}

.logo::after {
  content: ' ';
  width: 50%;
  position: absolute;
  height: 3px;
  border-radius: 20px;
  bottom: -3px;
  left: 0%;
  transform: translateX(0%);
  background-color: #03a6a7;
}

.alterIcons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 10%;
  padding-inline: 20%;
  margin-top: 5%;
}

.alterIcon {
  border-radius: 50%;
  border: 2px solid white;
  padding: 6px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.alterIcon:hover {
  filter: drop-shadow(0 0 2px #fff);
}

.text {
  color: rgb(213, 213, 213);
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
    sans-serif;
  font-size: x-small;
  font-weight: 100;
}

.button {
  color: white;
  padding: 4%;
  min-width: 50%;
  border-radius: 30px;
  background-color: #03a6a7;
  margin-top: 5%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  justify-content: center;
}

@media (max-aspect-ratio: 2/3) {
  .backdrop {
    background-color: rgba(15, 15, 15, 0.78);
  }

  .boxContainer {
    width: 90%;
    border-radius: 0;
    height: 65vh;
    padding-block: 8vh;
  }

  .signup_container {
    height: 70vh;
    padding-block: 5vh;
  }

  .alterIcons {
    padding-inline: 10%;
  }

  .alterIcon {
    transform: scale(1.5);
  }
}
